[build-system]
requires = ["setuptools", "cython", "cibuildwheel"]
build-backend = "setuptools.build_meta"

[project]
name = "cpwe"
version = "v42"

[tool.setuptools]

[tool.setuptools.packages.find]
include = ["cpwe", "ext"]

[tool.cibuildwheel]
before-all = "uname -a"
build = "cp313-manylinux_x86_64"