[build-system]
requires = ["setuptools", "cython", "cibuildwheel"]
build-backend = "setuptools.build_meta"

[project]
name = "complicated_project_with_extension"
version = "v42"

[tool.setuptools]

[tool.setuptools.packages.find]
include = ["complicated-project-with-extension", "ext"]

[tool.cibuildwheel]
build = "cp313-manylinux_x86_64"